* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#success, #failure {
    display: none;
    width: 100%;
    text-align: center;
}

#success {
    color: #090;
}

#failure {
    color: #900;
}


body {
    margin: 0;
    padding: 0;
    background: #6a89cc; 
    width: 100%;
    nav {
        display: flex;
        background: #5a69bd;
        .nav-item {
            text-align: center;
            align-content: center;
            width: 8vw;
            a {
                display: inline-block;
                margin: 1vw 0;
                height: 100%;
                color: #fff;
                font-size: 20px;
                text-decoration: none;
            }
                
        }
    }
    #edit-modal {
        width: 98%;
        max-width: 500px;
        min-height: 90vh;
        margin: 2vh auto 0px auto;
        background: #f9f1f1;
        #heading-section{
            width: 100%;
            h1{        
                width: 100%;
                padding-top: 5vw;
                text-align: center;
            }
        }
        #edit-section{
            width: 400px;
            height: 500px;
            margin: 0 auto;
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            align-content: center;
            div {
                span{
                    display:flex;
                    h5 {
                        margin-left: 20px;
                        color: #f00;
                    }
                }
                input {
                    width: 100%;
                } 
            }
            button {
                display: block;
                margin: 20px auto 0px auto;
            }
        }
        
    }
    #records-modal{
        width: 98%;
        min-height: 90vh;
        margin: 2vh auto 0px auto;
        background: #f9f1f1;
        #records-controls{
            width: 86%;
            display: flex;
            flex-direction: column;
            padding: 1% 0px 1% 4%;
            h1{
                min-width: 20%;
            }
            div {
                button{
                    display:block;
                    min-width: 60px;
                    height: 30px;
                }
            }
        }
        #records-list {
            width: 90%;
            margin: 0 auto;
            tr{
                width: 100%;
                border: 1px solid #000;
                background: #66c3d9;
                &:nth-child(even){
                    background: #b1dce6;
                }
            }
            th{
                background: #f9f1f1;
            }
            tr td, tr th{
                width: 8%;
                height: 1.5em;
                text-align: center;
                button{
                    height: 100%;
                    width: 40%;
                }
            }
            .id{
                width: 3%;
            }
            
        }
    }
}