* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #6a89cc; 
    width: 100%;
    nav {
        display: flex;
        background: #5a69bd;
        .nav-item {
            text-align: center;
            align-content: center;
            width: 8vw;
            a {
                display: inline-block;
                margin: 1vw 0;
                height: 100%;
                color: #fff;
                font-size: 20px;
                text-decoration: none;
            }
                
        }
    }
    #records-modal{
        width: 98%;
        min-height: 90vh;
        margin: 2vh auto 0px auto;
        background: #f9f1f1;
        #records-controls{
            width: 86%;
            display: flex;
            flex-direction: column;
            padding: 1% 0px 1% 4%;
            h1{
                min-width: 20%;
            }
            div {
                button{
                    display:block;
                    min-width: 100px;
                    height: 30px;
                }
            }
        }
        #records-list {
            width: 90%;
            margin: 0 auto;
            tr{
                width: 100%;
                border: 1px solid #000;
            }
            td, th{
                width: 8%;
                height: 1.5em;
                text-align: center;
                button{
                    height: 100%;
                    width: 80%;
                }
            }
            .id{
                width: 3%;
            }
        }
    }
}